.versionCard {
    padding: 12px;
}

.versionContent {
    /* 背景样式 */
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(0, 0, 0, 0.1);

    /* 阴影样式 */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05),
    0 4px 6px -2px rgba(0, 0, 0, 0.025);

    /* 其他样式 */
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-theme='dark'] .versionContent {
    /* 背景样式 */
    background-color: rgba(9,10,17,.8);
    border: 1px solid #3c3c3c;

    /* 阴影样式 */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.25),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);

    /* 文字颜色适配 */
    color: #f7fafc;
}

.versionHeader {
    padding: 12px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}

[data-theme='dark'] .versionHeader {
    border-bottom: 1px solid #3c3c3c;
}

.versionTitle {
    display: flex;
    align-items: center;
}

.versionTitle img {
    max-width: 66px;
    margin-right: 10px;
}

.versionDescription {
    padding: 12px 20px;
    color: #666;
    height: 200px;
}

.versionFooter {
    display: flex;
    border-top: 1px solid #eee;
}

[data-theme='dark'] .versionFooter {
    border-top: 1px solid #3e3a3a;
}

.footerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footerDemo {
    width: 40%;
    background: #1890ff;
    color: #ffffff;
}

.footerDoc {
    width: 30%;
    background: #029138;
    color: #fff;
}

.footerIcon {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerIcon img {
    width: 18px;
}

@media (max-width: 996px) {
    .versionDescription {
        height: auto;
    }
}