.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__header h3{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.card__header img{
    margin-right: 10px;
    max-height: 30px;
}

.buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.buttonGroup a {
    margin: 0;
}