/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  min-width: 360px;
}

.features {
  margin-top: 60px;
}

.heroBanner {
  background-color: #0a1a2f;
  color: rgba(255,255,255,0.9);
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.logo {
  height: 120px;
  margin-bottom: 20px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.logosCard {
  padding: 10px;
  margin-bottom: 20px;
}

.logosCard .logo {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #eeeeee;
  height: 110px;
}

.logosCard .logo img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

[data-theme='dark'] .logosCard .logo {
  background: #3c3c3c;
}

.feedback {
  padding: 0 30px;
  justify-content: space-between;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}

.feedback div {
  position: relative;
  margin-left: 10px;
}

.feedback img {
  border: 1px solid #eef1f8;
}

.feedback p {
  position: absolute;
  width: 100%;
  bottom: -36px;
  font-size: 18px;
  text-align: center;
}